# =========================
# DATABASE
# =========================
# SQLite
DATABASE_URL="file:./dev.db"
# PostgreSQL 예시
# DATABASE_URL="postgresql://username:password@localhost:5432/sprint4_db?schema=public"
# MySQL 예시
# DATABASE_URL="mysql://username:password@localhost:3306/sprint4_db"

# =========================
# JWT
# =========================
JWT_ACCESS_TOKEN_SECRET="t1HVUdpWIjfHXhZGGIkZHxuFyBPXixJr"
JWT_REFRESH_TOKEN_SECRET="t7DVUdpWIjfHXhZGGIkZHxuFyBPXixJr"
JWT_ACCESS_TOKEN_COOKIE_NAME="accessToken"
JWT_REFRESH_TOKEN_COOKIE_NAME="refreshToken"
JWT_ACCESS_TOKEN_EXPIRES_IN="1h"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"

# =========================
# SESSION
# =========================
SESSION_SECRET="oJafXjUYgvGE7CmMXRY70F7HpJpomQoq"

# =========================
# SERVER
# =========================
PORT=3000
NODE_ENV="development"

# =========================
# FILE UPLOAD / (5mb) 5242880 = 5 * 1024 * 1024
# =========================
UPLOAD_PATH="./uploads"
MAX_FILE_SIZE=5242880
